extends layout 

block content 
    h1= title

    h3 Category: #{category.name}

    p #{category.description}

    hr
    p
        a(href=category.url+'/update' class='options') Update #{category.name} category 

    p
        a(href=category.url+'/delete' class='options') Delete #{category.name} from categories

    p 
        a(href='/' class='options') Back to homepage

    each instrument in instrument_list 
        div(class='instrument')
            h3 #{instrument.name}
            p Description: #{instrument.description}
            p Price: £#{instrument.price}
            p In stock: #{instrument.stock}

            hr
            p 
                a(href=instrument.url+'/update' class='options') Update information about #{instrument.name}
            p 
                a(href=instrument.url+'/delete' class='options') Delete #{instrument.name}

    else
        p There are no instruments related to this category.

    p 
        a(href='/' class='options') Back to homepage